[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
todoist-python = "*"
line-notify = "*"
requests = "*"
datetime = "*"

[dev-packages]

[requires]
python_version = "3.6"
